<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ title }}
      <ion-icon
        name="close-circle"
        (click)="close()"
        style="    float: right;
      font-size: larger;"
      ></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-header>
  <app-header [title]="title" [showMenu]="false" [showBack]="false">
  </app-header>
</ion-header>
<ion-content padding>
  <form [formGroup]="propertyForm" novalidate *ngIf="showForm">
    <div class="form-group">
      <ion-item class="label-divider">
        <ion-label position="floating"
          ><img src="../../assets/images/tasks.png" />{{
            "tasks.title_placeholder" | translate
          }}</ion-label
        >
        <ion-input
          type="text"
          class="form-control"
          formControlName="taskTitle"
          [(ngModel)]="task.title"
          required
        ></ion-input>
      </ion-item>
      <div
        *ngIf="
          !propertyForm.controls.taskTitle.valid &&
          propertyForm.controls.taskTitle.dirty
        "
        class="validator-error"
      >
        Please enter title of Task.
      </div>
    </div>
    <div class="form-group">
      <ion-item class="label-divider">
        <ion-label position="floating"
          ><img src="../../assets/images/startDate.png" />{{
            "tasks.start_date" | translate
          }}</ion-label
        >
        <ion-input
          style="--padding-start: 0px;"
          display-format="MMM DD, YYYY"
          picker-format="MMMM DD YYYY"
          (click)="openDatePicker()"
          formControlName="taskStartDate"
          [(ngModel)]="task.startDate"
          required
        ></ion-input>
      </ion-item>
      <div
        *ngIf="
          !propertyForm.controls.taskStartDate.valid &&
          propertyForm.controls.taskStartDate.dirty
        "
        class="validator-error"
      >
        Please enter Start date.
      </div>
    </div>
    <div class="form-group">
      <ion-item class="label-divider">
        <ion-label position="floating"
          ><img src="../../assets/images/endDate.png" />{{
            "tasks.end_date" | translate
          }}</ion-label
        >
        <ion-input
          style="--padding-start: 0px;"
          display-format="MMM DD, YYYY"
          picker-format="MMMM DD YYYY"
          (click)="openDatePicker1()"
          formControlName="taskEndDate"
          [(ngModel)]="task.endDate"
          required
        ></ion-input>
      </ion-item>
      <div
        *ngIf="
          !propertyForm.controls.taskEndDate.valid &&
          propertyForm.controls.taskEndDate.dirty
        "
        class="validator-error"
      >
        Please enter End date.
      </div>
    </div>
    <div class="form-group">
      <ion-item class="label-divider" *ngFor="let assign of task.assignedTo">
        <ion-label position="floating"
          ><img src="../../assets/images/assigned.png" />{{
            "tasks.assigned_to" | translate
          }}</ion-label
        >
        <ion-input
          type="text"
          placeholder=""
          readonly
          class="form-control"
          formControlName="taskAssignedTo"
          [(ngModel)]="assign.name"
          required
        ></ion-input>
      </ion-item>
      <div
        *ngIf="
          !propertyForm.controls.taskAssignedTo.valid &&
          propertyForm.controls.taskAssignedTo.dirty &&
          propertyForm.controls.taskAssignedTo.touched
        "
        class="validator-error"
      >
        Please enter Assign to.
      </div>
    </div>
    <div class="form-group">
      <ion-item class="label-divider">
        <ion-label position="floating"
          ><img src="../../assets/images/status.png" />
          {{ "tasks.status" | translate }}</ion-label
        >
        <ion-select
          value="{{ task.status }}"
          okText="✓"
          cancelText="x"
          formControlName="taskStatus"
          [(ngModel)]="task.status"
        >
          <ion-select-option
            value="not yet started"
            selected="task.status === 'not yet started'"
            >Not yet started</ion-select-option
          >
          <ion-select-option
            value="in progress"
            selected="task.status === 'in progress'"
            >In progress</ion-select-option
          >
          <ion-select-option
            value="completed"
            selected="task.status === 'completed'"
            >Completed</ion-select-option
          >
        </ion-select>
      </ion-item>
    </div>
  </form>
</ion-content>
<ion-footer>
  <div class="action-board">
    <ion-button size="small" color="light" slot="start" (click)="close()">
      {{ "button.cancel" | translate }}</ion-button
    >
    <ion-button
      size="small"
      color="primary"
      slot="end"
      style="float:right"
      (click)="create()"
    >
      {{ "button.save" | translate }}</ion-button
    >
  </div>
</ion-footer> -->
