<ion-header>
  <app-header [title]="'current_task.title' | translate" [showMenu]="false" [showBack]="true" [noBorder]="false"
    [isGoBack]="back" [isParam]="parameter">
  </app-header>
</ion-header>

<ion-content padding *ngIf="task" class="task-view-container">
  <div style="min-height:85%">
    <h3 (click)="allowEdit('title')" *ngIf="!editTitle">{{task?.title}}
    </h3>
    <ion-item class="custom-ion-item" *ngIf="editTitle" (mouseout)="blockEdit('title')">
      <ion-label class="custom-label" position="floating" style="text-transform: none; margin: 0px;font-size: 20px;"
        [ngClass]="{'required-field':markLabelsAsInvalid}">{{'add_task.add_a_task'| translate}}
      </ion-label>
      <ion-input type="text" [(ngModel)]="task.title" name="title"
        placeholder="{{'add_task.placeholder_task_title'| translate}}" style="border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col size="3" style="padding: 0px;">
        <img src="assets/images/timetable.png" style="max-width: 40%;" (click)="setDate('task')"> </ion-col>
      <ion-col size="9" class="col-9-custom" (click)="setDate('task')">{{task.endDate}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" style="margin: auto;">
        <ion-label>
          {{'current_task.status' | translate}} 
        </ion-label>
      </ion-col>
      <ion-col size="9">
        <ion-item class="custom-ion-item">
          <ion-select [(ngModel)]="task.status" class="custom-select" placeholder="Select Status"
            (ionChange)="selectedStatus($event)">
            <ion-select-option  *ngFor="let status of statuses"  value="{{status.title}}"
              selected="status.title === task.status">{{status.title}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <h4 style="width: 100%;
        margin: 0px;">{{'current_task.subtasks' | translate}} </h4>
      <ion-col size="3" style="padding: 10px 0px;">
        <img src="assets/images/subdirectory_arrow.png" style="width: 35%; margin-top: 5px;"> </ion-col>
      <ion-col size="9">
        <ion-item style="--border-color: #af4038;">
          <ion-input type="text" placeholder="Add Subtask task name" [(ngModel)]="subtask.title">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: -20px;">
      <ion-col size="3">
      </ion-col>
      <ion-col size="9">
        <ion-button color="primary" class="text-notransform" (click)="addSubtask()">
          {{'current_task.add_subtask' | translate}}
        </ion-button>
        <img src="assets/images/timetable.png"
          style="margin-top: 5px;margin-right: 10px; float: right; max-width: 30px;" (click)="setDate('subtask')">
      </ion-col>
    </ion-row>
    <div class="subtask-box" *ngFor="let subtask of task?.subTasks">
      <ion-row *ngIf="!subtask.allowEdit">
        <ion-col size="1">
          <ion-icon ios="ios-radio-button-off" md="md-radio-button-off"></ion-icon>
        </ion-col>
        <ion-col size="11" class="subtask-title" (click)="subTaskEdit(subtask)"> {{subtask.title}}
        </ion-col>
      </ion-row>
      <ion-item class="custom-ion-item" *ngIf="subtask.allowEdit" (mouseout)="subTaskEditBlock(subtask)">
        <ion-label class="custom-label" position="floating" style="text-transform: none; margin: 0px;font-size: 20px;"
          [ngClass]="{'required-field':markLabelsAsInvalid}">{{'add_task.add_a_task'| translate}}
        </ion-label>
        <ion-input type="text" [(ngModel)]="subtask.title" name="title"
          placeholder="{{'add_task.placeholder_task_title'| translate}}" style="border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col size="1"> </ion-col>
        <ion-col size="5" (click)="setSubTaskDate(subtask)"> <img src="assets/images/timetable.png"
            style="margin-top: 5px; max-width: 25px; float: left; margin-right: 10px;">
          <div style="margin-top: 10px; font-size: 14px;">{{subtask.endDate}}</div>
        </ion-col>
        <ion-col size="6">
          <ion-select [(ngModel)]="subtask.status" class="custom-select" placeholder="Select Status"
            (ionChange)="selectedSubTaskStatus($event,subtask)">
            <ion-select-option  *ngFor="let status of statuses"  value="{{status.title}}"
              selected="status.title === subtask.status">{{status.title}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div style="margin-top:30p;">
    <ion-button (click)="save()" color="secondary" class="round-corner-btn" expand="block">
      {{'button.save' | translate}}
    </ion-button>
  </div>
</ion-content>