<ion-header>
  <ion-toolbar>
    <ion-title>{{'LABELS.PERMISSIONS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-body">
    <h4>{{'MESSAGES.PERMISSION' | translate}} </h4>
    <p> {{'MESSAGES.DEAR' | translate}}
    </p>
    <p> {{'MESSAGES.PERMISSION_MESSAGE' | translate}} </p>
</div>

<div style="min-height: 20%;">
  <ion-item *ngFor="let request of requiredPermissions" class="permission-rqst-card">
      <ion-icon size="large" name="{{request.icon}}"></ion-icon>
      <ion-label style="padding-left: 15px;">
          <div class="title">{{request.title | translate}}</div>
          <div class="sub-title">{{request.subTitle | translate}}</div>
      </ion-label>
      <ion-checkbox [(ngModel)]="request.isChecked" class="custom-checkBoxes"
          (ionChange)="permissionGivenTo(request)"></ion-checkbox>
  </ion-item>
</div>
<div class="privacy-label">
  <div (click)="openTermsAndPolicy()"> {{'LABELS.PRIVACY' | translate}} <span class="text-privacy"></span> {{'LABELS.TERMS' | translate}}</div>
</div>

<ion-button expand="block" [disabled]="disableBtn" (click)="submit()" color="primary" class="permission-btn">
  {{'LABELS.ACCEPT' | translate}}
</ion-button>

</ion-content>
