.dot {
  width: auto;
  min-width: 16px;
  height: 16px;
  background: red;
  border-radius: 10px;
  position: absolute;
  right: 50px;
  top: 5px;
  z-index: 2;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  padding: 4px;
}
.relative {
  position: relative;
}

.notificationIcon {
  font-size: 28px;
  margin-right: 5px;
}
.margin {
  margin: 0 8px !important;
}
.textCapital {
  text-transform: capitalize;
}
.tab-selected, .activated {
  border-bottom: 4px solid #fff !important;
}
ion-tab-button {
  ion-label {
    font-size: 16px !important;
  }
}
.header-action-icons{
  font-size:28px;
  padding-left:15px;
  float: left;
}
.header-md:after
{
  height: 0px !important;
}