<ion-header [ngStyle]="{'--background':bg,'border-bottom': noBorder ? '2px solid #fff' : '2px solid #b23e33' }">
  <ion-toolbar>
    <ion-icon name="menu" class="header-action-icons" *ngIf="showMenu" (click)="menuToggle()">
    </ion-icon>
    <span *ngIf="showMenu" style="margin: 20px 10px;
    font-size: 16px;
    left: 0px;
    position: absolute;" (click)="menuToggle()"> MENU </span>
    <ion-icon ios="ios-arrow-back" md="md-arrow-back" color="primary" class="header-action-icons"
      *ngIf="showBack && !isGoBack">
    </ion-icon>
    <ion-icon (click)="goBack()" autoHide="false" ios="ios-arrow-back" md="md-arrow-back" color="primary"
      class="header-action-icons" *ngIf="showBack && isGoBack"></ion-icon>
    <ion-title [ngClass]="{  
      'ios-header': isIos && showMenu,
      'header-custom ': isIos && showBack,
      'header-custom ': !isIos
    }">
      {{ title }}
      <ion-icon name="wifi" class="network-icon ion-float-right" style="position:absolute;float:right;right: 20px;"
        [ngClass]="{
          'no-connection': !connected,
          'connected': connected
        }"></ion-icon>
      <span (click)="navigateToNotification()">
        <ion-icon name="notifications" class="_headerIcon notificationIcon "
          style="position:absolute;float:right;right: 50px;"></ion-icon>
      </span>
      <span class="dot _flex-box" (click)="navigateToNotification()"
        *ngIf="notificationCount && notificationCount < 100">{{ notificationCount }}</span>
      <span class="dot _flex-box" *ngIf="notificationCount && notificationCount >= 100"
        (click)="navigateToNotification()">99+</span>
    </ion-title>
  </ion-toolbar>
  <ion-tab-bar slot="top" color="primary" *ngIf="showTabs">
    <ion-tab-button tab="last-month-reports" class="activated" [ngClass]="{'tab-selected' : last_month}"
      (click)="activeTab('last_month')">
      <ion-label>{{ "myreports.last_month" | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="last-quarter-reports" [ngClass]="{'tab-selected' : last_quarter}"
      (click)="activeTab('last_quarter')">
      <ion-label>{{ "myreports.last_quarter" | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-header>