.dot {
  width: 20px;
  min-width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  position: absolute;
  right: 53px;
  z-index: 2;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  padding: 3px;
}
.relative {
  position: relative;
}

.notificationIcon {
  font-size: 28px;
  margin-right: 5px;
}
.margin {
  margin: 0 8px !important;
}
.textCapital {
  text-transform: capitalize;
}
.tab-selected, .activated {
  border-bottom: 4px solid #fff !important;
}
ion-tab-button {
  ion-label {
    font-size: 16px !important;
  }
}
.header-action-icons{
  font-size: 24px;
  padding-left: 15px;
  float: left;
}
.header-md:after
{
  height: 0px !important;
}
.ios-header
{
  padding-bottom: 22px; 
}
.header-custom .header-custom-android{
  padding-bottom: 0px;  
   margin-bottom: 0px;
}