<ion-header [ngStyle]="{'--background':bg,'border-bottom': noBorder ? '0px solid #fff' : '2px solid #024F9D' }">
  <ion-toolbar>
    <ion-icon name="menu" class="header-action-icons" *ngIf="showMenu" (click)="menuToggle()">
    </ion-icon>
    <span *ngIf="showMenu" style="margin: 18px 10px;
    font-size: 14px;
    left: 0px;
    position: absolute" (click)="menuToggle()"> MENU </span>
    <ion-icon ios="ios-arrow-back" md="md-arrow-back" color="primary" class="header-action-icons"
      *ngIf="showBack && !isGoBack">
    </ion-icon>
    <ion-icon (click)="goBack()" autoHide="false" ios="ios-arrow-back" md="md-arrow-back" color="primary"
      class="header-action-icons" *ngIf="showBack && isGoBack"></ion-icon>
    <ion-title [ngClass]="{  
      'ios-header': isIos && showMenu, 
      'header-custom ': isIos && showBack,
      'header-custom-android ': !isIos
    }">
      {{ title }}
      <ion-icon name="wifi" class="network-icon ion-float-right" style="position:absolute;float:right;right: 20px;"
        [ngClass]="{
          'no-connection': !connected,
          'connected': connected
        }"></ion-icon>
      <span (click)="navigateToNotification()">
        <ion-icon name="notifications" class="_headerIcon notificationIcon "
          style="position:absolute;float:right;right: 50px;"></ion-icon>
      </span>
      <span class="dot _flex-box" (click)="navigateToNotification()"
        *ngIf="notificationCount && notificationCount < 100">{{ notificationCount }}</span>
      <span class="dot _flex-box" *ngIf="notificationCount && notificationCount >= 100"
        (click)="navigateToNotification()">99+</span>
    </ion-title>
  </ion-toolbar>
</ion-header>