<div id="create-task-popup" *ngIf="showForm">
  <div class="pop-container">
    <form [formGroup]="formContent">
      <div *ngIf="data.closeIcon">
        <ion-icon [name]="data.closeIcon.icon" slot="{{data.closeIcon.slot}}" style="font-size: 20px;;"
          (click)="close()"></ion-icon>
      </div>
      <div *ngIf="data.label" class="form-header"> {{data.label}}
      </div>
      <div *ngIf="data.formData" class="task-create">
        <div *ngFor="let data of data.formData">
          <div *ngIf="data.label"
            [ngClass]="{'label-margin':data.type != text-area, 'label-top-margin' :data.type == text-area}">
            <img [src]="data.icon" *ngIf="data.icon" class="label-icon"
              [ngStyle]="{'margin-bottom': data.type == 'date' ? '-11px' : '-7px'}">
            <ion-icon ios="ios-share" md="md-share" *ngIf="data.share" style="float: right;
            font-size: 30px;
            color: #000;
            margin-top: 5px;" (click)="share()"></ion-icon>
            <span class="label" (click) = "openDate(data.label)"
              [ngClass]="{'required-field':submitAttempt && data.required && !data.value}">{{data.label}} <span
                *ngIf="data.required" class="required-field"> * </span></span>
          </div>
          <ion-input type="text" *ngIf="data.type == 'text'" placeholder={{data.placeholder}}
            [formControlName]="data.field" [(ngModel)]="data.value">
          </ion-input>
          <ion-datetime (ionChange)="setDate($event,data)" min="2000" max="2100" display-timezone="utc"
            [formControlName]="data.field" *ngIf="data.type == 'date'" #picker value={{data.value}}
            style="font-weight: 600; border-bottom: 1px solid #ccc;">
          </ion-datetime>
          <ion-textarea *ngIf="data.type == 'text-area'" [formControlName]="data.field" rows="2"
            [(ngModel)]="data.value">
          </ion-textarea>
          <div *ngIf="data.type == 'attachment'" class="attachments-box">
            <div>
              <div *ngIf="attachments.length > 0">
                <p *ngFor="let file of attachments">
                  <img src="assets/images/attachment.png" class="img"> {{file.name}}
                </p>
              </div>
            </div>
            <ion-row class="file-box">
              <ion-col size="6" style="margin: auto; font-size: 24px;">
                <div *ngIf="attachments.length == 0">
                  <img src="assets/images/picture.png">
                  <img src="assets/images/attachment.png">
                </div>
              </ion-col>
              <ion-col size="6">
                <a style="color:#6074f9; text-align:right;
                float: right;
                margin: 10px 10px; " (click)="openActionSheet()">Attach</a>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <div *ngIf="data.buttons">
          <ion-button *ngFor="let btn of data.buttons" color="{{btn.color}}" expand="{{btn.expand}}"
            (click)="action(btn.role)">
            {{btn.label}}
          </ion-button>
        </div>
      </div>
    </form>
  </div>
</div>