.status-card {
  border-radius: 5px;
  color: #fff;
  span {
    border-bottom: 2px solid #fff;
    font-size: 36px;
  }
  h1 {
    margin-top: 10px;
  }
}
.task-completed-box {
  background: linear-gradient(140deg, #5bd895 32%, #45673b 71%, #1a4b00 88%);
  margin-right: 3px;
}
.task-pending-box {
  background: linear-gradient(140deg, #d8735b 32%, #a31919 71%, #9f0303 88%);
  margin-left: 3px;
}
.action-item {
  color: #3b86ff;
  text-align: center;
  border-bottom: 1px solid #000;
  margin: 30px 0px;
  padding-bottom: 10px;
}
.dot-pending {
  height: 16px;
  width: 16px;
  background-color: #bfbfbf;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.dot-completed {
  height: 16px;
  width: 16px;
  background-color: #20ba8d;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.legend-left {
  text-align: center;
  padding: 0px;
  font-weight: 500;
  margin-left: -9%;
}
.legend-right {
  text-align: center;
  margin-right: -7%;
  padding: 0px;
  font-weight: 500;
}
