<div class="custom-popup" *ngIf="showPopup">

  <div class="pop-container border-radius text-center">
    <div class="close-btn" *ngIf="header == 'Confirm your details!'">
      <ion-icon name="close" style="float:right" (click)="cancel()" style=" font-size: 1.5em;"></ion-icon>
    </div>
    <div class="pop-msg">
      <h5 class="bottom-border"> {{header}}</h5>
      <h5> {{body}}</h5>
    </div>
    <ion-row class="pop-btn">
      <ion-col>
        <ion-button color="primary" (click)="navigateToProfile()" expand="block" style="margin: 0em 3em;">
          {{button}}
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</div>