.custom-popup
{
    position: fixed;
    z-index: 9999;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    padding-top: 30%;
    bottom: 0;
    background: #7777772b;
.border-radius{
    border-radius: 1em;
}
.pop-container
{
    margin: auto;
    max-width: 80%;
    box-shadow: 0px 3px 8px 4px #e2e2e2;
    background: #fff;
    padding: 10px;
    margin-top: 30%;
    .close-btn{
        text-align: right; 
        margin-right: 5px; 
        margin-bottom: -10px;
    }
    .pop-ion{
        text-align: center;
        ion-icon{
            font-size:60px;
        }
    }
    .pop-msg
    {
    margin: 0px 20px;
    .bottom-border{
        border-bottom:1px solid #000;
        margin-bottom: 0px;
        padding-bottom: 5px;
    }
    }
    .pop-btn{
        margin: 0px 15px;
        ion-button{
            text-transform: capitalize;
            font-family: 'SourceSansPro-Bold' !important;
        }
    }
}
}
