<!--
  Generated template for the OnboardingEntityListingModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header> -->
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="search"  (ionInput)="onSearch()" debounce="500"
      (ionCancel)="onSearch()">
    </ion-searchbar>
  </ion-toolbar>
<!-- </ion-header> -->


<ion-content padding>
  <ion-list>
    <ion-radio-group>
      <ion-item *ngFor="let entity of entityList">
        <ion-label>{{entity?.label}}</ion-label>
        <ion-radio slot="end" value="{{entity?._id}}" (click)="onSelection(entity)"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <button ion-button color="primary" full (click)="loadMore()" *ngIf="enableLoader">{{'LABELS.LOAD_MORE' | translate}}</button>
  <app-no-data *ngIf="!entityList?.length" [message]="'MESSAGES.NO_DATA_AVAILABLE'"></app-no-data>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-row>
      <ion-col size="6">
        <ion-button color="light" expand="block" (click)="close()">{{'LABELS.CANCEL' | translate}}</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="primary" expand="block" [disabled]="!selection?._id" (click)="close(selection)">{{'LABELS.SAVE' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>