<ion-header>
  <app-header title="LABELS.PROJECT_VIEW" [bottomBorder]="true" [showMenu]="false" [showReload]="false"
    [showSync]="false" [hideNotification]="true">
    <ion-back-button></ion-back-button>
  </app-header>
</ion-header>
<ion-content *ngIf="project">
  <ion-card class="project-box">
    <ion-card-header class="custom-filed" (click)="edit('metaData')">
      <div style="height: 20px;">
        <ion-icon name="create" color="primary"></ion-icon>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="custom-filed">
        <ion-label> {{'LABELS.PROJECT_TITLE' | translate}} : </ion-label>
        {{project?.title}}
      </div>
      <div class="custom-filed">
        <ion-label position="fixed"> {{'LABELS.OBJECTIVE' | translate}} : </ion-label>
        {{project?.description}}
      </div>
      <div class="custom-filed" *ngIf="project?.duration">
        <ion-label position="fixed"> {{'LABELS.DURATION' | translate}} : </ion-label>
        {{project?.duration}}
      </div>
      <div class="custom-filed" *ngIf="project?.startDate">
        <ion-label position="fixed"> {{'LABELS.START_DATE' | translate}} : </ion-label>
        {{project?.startDate | date : 'dd/MM/yyyy' }}
      </div>
      <div class="custom-filed" *ngIf="project?.endDate">
        <ion-label position="fixed"> {{'LABELS.END_DATE' | translate}} : </ion-label>
        {{project?.endDate | date : 'dd/MM/yyyy' }}
      </div>
      <div class="custom-filed">
        <ion-label position="fixed"> {{'LABELS.CATEGORIES' | translate}} : </ion-label>
        {{categories}}
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="project-box">
    <ion-card-header class="custom-filed" (click)="edit('others')">
      <div style="height: 20px;">
        <ion-icon name="create" color="primary"></ion-icon>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="custom-filed">
        <ion-label> {{'LABELS.PROGRAM_NAME' | translate}} : </ion-label>
        {{project?.programName}}
      </div>
      <div class="custom-filed" *ngIf="project?.duration">
        <ion-label position="fixed"> {{'LABELS.DURATION' | translate}} : </ion-label>
        {{project?.duration}}
      </div>
      <div class="custom-filed" *ngIf="project?.entityId">
        <ion-label position="fixed"> {{'LABELS.ENTITIES' | translate}} </ion-label>
        <ion-card>
          <ion-card-content>
            {{project?.entityName}}
          </ion-card-content>
        </ion-card>
      </div>
      <div class="custom-filed" *ngIf="project.learningResources && project.learningResources.length">
        <ion-label position="fixed"> {{'LABELS.LEARNING_RESOURCES' | translate}} : </ion-label>
        <ion-card *ngFor="let resources  of project.learningResources">
          <ion-card-content>
            {{resources?.name}}
          </ion-card-content>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>