@import'../../theme/colors.scss';

.no-connection{
  color:$danger;
}
:host(.show-back-button) {
display: block;
}
ion-label {
  font-family: 'SourceSansPro !important';
}
.bottom-tab-img-container{
margin: auto;
margin-bottom: -32px;

}
.btm-tab-img{
width: 32px;
max-width: 32px;
max-height: 32px;
min-height: 32px;
}
.btm-tab-img-newsfeed{
  margin: 2px;
  width: 32px;
  max-width: 32px;
  max-height: 28px;
  min-height: 28px;
}

.center-btn{
  border-radius: 50%;
  border: 2px solid $white-color;
  padding: 2px;
  min-width: 34px;
  min-height: 34px;
  margin-top: 5px;
  color:$white-color;
}

.activeHome{
    color: $primary;
    background: $white-color;
    // box-shadow: 0px 1px 12px 2px #000;
 }
 .tab-selected
{
    border-bottom:4px solid $white-color;
}