.no-connection{
    color:red;
}
:host(.show-back-button) {
  display: block;
}
ion-label {
  font-family: 'SourceSansPro !important';
}
.bottom-tab-img-container{
  margin: auto;
  margin-bottom: -32px;
  .nf-tab-img
{
  margin-top: -100px;
  z-index: 99999999;
  position: relative;
  width: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
}
}
.btm-tab-img{
  width: 32px;
  max-width: 32px;
  max-height: 32px;
  min-height: 32px;
}
