<ion-tabs color="primary" selected-tab="tasks" *ngIf="!loggedIn">
  <div class="bottom-tab-img-container" *ngIf="!isKeyBoardUp"><img src="assets/images/bottom-tab/newsfeed.png" class="nf-tab-img" (click)="navigateToNewsFeed()"> </div>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home" selected="true" (click)="selectTab('home_tab')">
      <img src="assets/images/bottom-tab/home.png" class="btm-tab-img">
      <ion-label>{{ "landing_page" | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="projects" (click)="selectTab('projects_tab')">
      <img src="assets/images/bottom-tab/projects.png" class="btm-tab-img">
      <ion-label>{{ "Projects" | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="projects" (click)="selectTab('projects_tab')">
    </ion-tab-button>
    <ion-tab-button tab="my-schools" (click)="selectTab('schools_tab')">
      <img src="assets/images/bottom-tab/schools.png" class="btm-tab-img">
      <ion-label>{{ "schools_tab" | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/project-view/my-reports/last-month-reports"  (click)="selectTab('reports_tab')">
      <img src="assets/images/bottom-tab/reports.png" class="btm-tab-img">
      <ion-label>{{ "reports_tab" | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>