.chart-title {
  color: #4d4f5c;
  margin-bottom: 20px;
  font-family: Source Code Pro-Bold;
}

// #container0,
// #container1,
// #container2,
// #container3,
// #container4,
// #container5,
// #container6,
// #container7,
// #container8,
// #container9,
// #container10,
// #container11,
// #container12,
// #container13,
// #container14,
// #container15,
// #container16,
// #container17,
// #container18,
// #container19,
// #container20 {
//   max-width: 350px;
//   min-width: 350px;
//   height: 400px;
//   width: 400px;
// }
.highcharts-yaxis .highcharts-axis-line {
  stroke-width: 0px !important;
}
