<ion-header>
  <app-header title="LABELS.ABOUT" [showMenu]="false" [showReload]="false" [showSearch]="false">
    <ion-back-button></ion-back-button>
  </app-header>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <h3>{{ "LABELS.APP_INFO" | translate }}</h3>
  </ion-list>
  <div style="text-align:center;">
    <img src="../assets/icon/unnati-prod.png" style="width: 100px;" />
  </div>
  <ion-list>
    {{ "LABELS.APP_NAME" | translate }} : {{ appName }}
  </ion-list>
  <ion-list>
    {{ "LABELS.APP_VERSION" | translate }} : {{ appVersion }}
  </ion-list>
  <ion-list *ngIf="userDetails">
    {{ "LABELS.USER" | translate }} : {{ userDetails.preferred_username }}
  </ion-list>
  <ion-list *ngIf="profileInfo">
   {{"LABELS.NAME" | translate }} : {{profileInfo.firstName}} {{profileInfo.lastName}}
  </ion-list>
  <ion-list *ngIf="profileInfo">
   {{"LABELS.EMAIL" | translate }} : {{ profileInfo.maskedEmail }}
  </ion-list>
  <ion-list *ngIf="profileInfo">
    {{"LABELS.PHONE" | translate }} : {{ profileInfo.phone }}
   </ion-list>
  <ion-button expand="block" color="primary" (click)="confirmLogout()">
    <ion-icon name="trash"></ion-icon>{{ "LABELS.ERASE_DATA" | translate }}
  </ion-button>
</ion-content>