<ion-header>
  <app-header 
  [title]="'resources.title' | translate"
  [showMenu]="false"
  [showBack]="true" 
  [isGoBack]="back"
  [noBorder]="false" 
  [isParam]="parameter"
  >
  </app-header>
</ion-header>
<ion-content>
  <ion-card 
  *ngFor="let resource of projectResources" 
  (click)="openBodh(resource.link)"
  >
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col style="min-width: 90%;">
            {{resource.name}}
          </ion-col>
          <ion-col>
            <ion-icon name="ios-arrow-forward"> </ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
