@import'../../theme/colors.scss';

ion-col div 
{
    color:$black-color;
    ion-label{
    font-weight: 600;
}
}
.label-divider{
    border-bottom:1px solid $grey-color;
    p{
        text-align: justify;
    }
}
ion-progress-bar
{
    height:8px;
}
.can-go-back header-component ion-back-button {
    display: block;
  }
  #title
  {
      padding-left: 10px;
      padding-right:10px;
  }
  .progress-bar
  {
    font-size: 16px;
    margin-bottom: 5px;
}
.md .toolbar-title {
    text-overflow: inherit;
    white-space: normal;
    text-align: left;
    font-size:1.3em;
 }
 .task-board{
    background:$grey-color;
    margin:10px;
    padding-bottom: 5px;
    ion-card{
        background: $white-color;
        color: $black-color;
        border-radius: 0px;
    }
    ion-button{
        --border-radius: 20px;
    }
 }
 .featured-btn{
    text-align: center;
    padding-bottom: 10px;
 }
 .status{
    float: right;
    color: $white-color;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
 }
 .inprogress
 {
     background: $orange-color;
 }
 .completed
 {
     background: $secondary;
 }
 .notyetstarted
 {
     background: $dark-grey-color
 }