<!-- simple UI with vertical 3 dots,pass interface=simple -->
<div *ngIf="interface == 'simple'">
  <ion-icon name="ellipsis-vertical-outline" (click)="openPopupMenu($event)" *ngIf="!showOptions"></ion-icon>

  <ion-list *ngIf="showOptions">
    <ion-item button (click)="download(true)"> {{ "LABELS.SHARE" | translate }}</ion-item>
    <ion-item button (click)="download()">{{ "LABELS.DOWNLOAD" | translate }}</ion-item>
  </ion-list>
</div>

<!-- Fab button round UI ,pass interface= fab-->
<div *ngIf="interface == 'fab'">
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button size="small"> <ion-icon name="ellipsis-vertical-outline"></ion-icon> </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="medium" (click)="download('share')">
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="medium" (click)="download()">
        <ion-icon name="download-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</div>
