<ion-header>
  <app-header title="LABELS.TEMPLATE_VIEW" [bottomBorder]="true" [showMenu]="false" [showReload]="false"
    [showSync]="false" [showMore]="false" [hideNotification]="true">
    <ion-back-button></ion-back-button>
  </app-header>
</ion-header>
<ion-content>
  <ion-card class="project-box">
    <ion-card-content>
      <div class="custom-filed" *ngIf="template?.title">
        <ion-label> {{'LABELS.PROJECT_TITLE' | translate}} : </ion-label>
        {{template?.title}}
      </div>
      <div class="custom-filed" *ngIf="template?.description">
        <ion-label position="fixed"> {{'LABELS.OBJECTIVE' | translate}} : </ion-label>
        {{template?.description}}
      </div>
      <div class="custom-filed" *ngIf="template?.duration">
        <ion-label position="fixed"> {{'LABELS.DURATION' | translate}} : </ion-label>
        {{template?.duration?.label || template?.duration }}
      </div>
    </ion-card-content>
  </ion-card>
  <div *ngIf="template?.tasks && template.tasks.length">
    <ion-card class="tasks-box" *ngFor="let task of template.tasks">
      <ion-row class="task-list">
        <ion-col size="1" class="left-border pending-task-left-border">
        </ion-col>
        <ion-col size="11">
          <h5>{{task.name}} </h5>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <app-no-data *ngIf="noTemplates"></app-no-data>
</ion-content>
<ion-footer>
  <div class="footer-btn" (click)="next()">{{'LABELS.IMPORT_PROJECT' | translate}}
  </div>
</ion-footer>