@import'../../theme/colors.scss';

.project-card {
  background: $light-grey-color;
  font-size: 18px;
  color: $black-color;
  font-weight: 600;

  ion-card-header {
    background: $light-grey-color;
    font-size: 18px;
    color: $black-color;
    font-weight: 600;

    ion-icon {
      float: right;
    }
  }

  ion-card-content {
    padding: 0px;
  }

  .inner-card {
    background: $white-color;
    padding: 0px;
    margin: 0px;

    ion-icon {
      float: right;
    }

    ion-card-content {
      background: $white-color;
      padding: 10px;
      font-size: 18px;
      color: $black-color;
      font-weight: 600;
      border-bottom: 1px solid $light-grey-color;

      ion-icon {
        float: right;
      }
    }
  }
}

.custom-arrow {
  margin: auto;
  color: $black-color;
  font-size: 22px;
  text-align: end;
  font-weight: 600;
  text-align: right;
}

.capitalize {
  text-transform: capitalize;
}