<ion-header [translucent]="true">
  <app-header title="LABELS.PROJECTS" [showMenu]="true" (onAction)="action($event)" [showReload]="true"></app-header>
</ion-header>
<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedTab">
    <ion-segment-button value="{{tab.value}}" *ngFor="let tab of tabs" class="no-text-transform">
      <ion-label>{{tab.name | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-search-bar (onSearch)="onSearch($event)">
  </app-search-bar>
  <div>
    <div>
      <!-- <ion-card class="welcome-card custom-card">
        <ion-card-header class="project-card">
          {{'LABELS.MY_PROJECTS' | translate}}
        </ion-card-header>
        <div *ngFor="let project of projects">
          <ion-card-content (click)="openProject(project._id)" *ngIf="!project.isDeleted">
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  {{ project.title}}
                </ion-col>
                <ion-col size="2" style="text-align: right;">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </div>
      </ion-card> -->
      <ion-list>
        <ion-item>
          <ion-label class="_capitalize">{{'LABELS.SORT_BY' | translate}}</ion-label>
          <ion-select placeholder="Programs" (ionChange)="getProjects()" value="" [(ngModel)]="selectedSortOption">
            <ion-select-option [value]="option.value" *ngFor="let option of sortOptions" class="_capitalize">
              {{option?.label}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <div *ngIf="selectedSortOption === 'project'">
        <ion-list *ngIf="completeProjectData?.length">
          <ion-item *ngFor="let project of completeProjectData" (click)="openProject(project?._id)">
            <ion-label>
              <h3 class="capitalize">
                {{project?.title}}
              </h3>
              <ion-note class="capitalize">
                {{project?.programName || "My Program" }}
              </ion-note>
            </ion-label>
          </ion-item>
        </ion-list>
        <app-no-data *ngIf="!completeProjectData?.length"></app-no-data>
      </div>

      <div *ngIf="selectedSortOption === 'program'">
        <ion-list>
          <ng-container *ngFor="let program of programsList;let i = index">
            <ion-list-header lines="inset" class="listHeader"
              (click)="(currentProgramFilterIndex === i)? closeProgram() :onProgramSelect(i)">
              <ion-label class="_capitalize">{{program?.programName || "My Program" }} </ion-label>
              <ion-icon name="caret-down-outline" class="expand" *ngIf="currentProgramFilterIndex !== i"></ion-icon>
              <ion-icon name="caret-up-outline" class="expand" *ngIf="currentProgramFilterIndex === i"></ion-icon>
            </ion-list-header>
            <ng-container *ngIf="currentProgramFilterIndex === i">
              <ion-item lines="none" class="bgList" *ngFor="let project of projectsForSelectedProgram"
                (click)="openProject(project._id)">
                <ion-label class="_capitalize">
                  {{project?.title}}
                </ion-label>
              </ion-item>
              <app-no-data *ngIf="!projectsForSelectedProgram?.length"></app-no-data>
            </ng-container>
          </ng-container>
        </ion-list>
        <app-no-data *ngIf="!programsList?.length"></app-no-data>

      </div>




    </div>
    <!-- <div *ngSwitchCase="'allProjects'">
      <ion-card class="welcome-card custom-card">
        <ion-card-header class="project-card">
          {{'LABELS.MY_PROJECTS' | translate}}
        </ion-card-header>
        <div *ngFor="let project of projects">
          <ion-card-content (click)="openProject(project._id)">
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  {{ project.title }}
                </ion-col>
                <ion-col size="2" style="text-align: right;">
                  <ion-icon name="arrow-round-down"></ion-icon>
                  <ion-icon name="arrow-down-circle-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </div>
      </ion-card>
    </div> -->
  </div>
</ion-content>