<ion-header>
  <app-header [title]="'add_task.title' | translate" [showMenu]="false" [showBack]="true" [isGoBack]="back"
    [isParam]="parameter" [noBorder]="false">
  </app-header>
</ion-header>
<ion-content>
  <h4 style="padding: 10px 15px;" *ngIf="!editTitle" (click)="allowEdit('title')">{{currentMyProject?.title}}</h4>
  <ion-item class="custom-ion-item" *ngIf="editTitle" (mouseout)="blockEdit('title')">
    <ion-label class="custom-label" position="floating"
      [ngClass]="{'required-field':markLabelsAsInvalid && !currentMyProject.title}">
      {{'create_project.title_of_project' | translate}}</ion-label>
    <ion-input type="text" [(ngModel)]="currentMyProject.title" name="title"
      placeholder="{{'create_project.placeholder_project_title'| translate}}" maxlength="280"></ion-input>
  </ion-item>
  <form [formGroup]="addTask" class="create-project">
    <ion-item class="custom-ion-item">
      <ion-label class="custom-label" position="floating" style="text-transform: none; font-size: 20px;"
        [ngClass]="{'required-field':markLabelsAsInvalid}">{{'add_task.add_a_task'| translate}}
      </ion-label>
      <ion-input type="text" [(ngModel)]="task.title" name="title" formControlName="title"
        placeholder="{{'add_task.placeholder_task_title'| translate}}" style="border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;"></ion-input>
      <img src="assets/images/timetable.png" slot="end" class="right-icon" (click)="setDate()">
    </ion-item>
    <ion-button (click)="create()" color="primary"  slot="end" class="add-btn">
      {{'button.add' | translate}}
    </ion-button>
  </form>
  <!-- tasks list -->
  <div class="tasks-container">
    <div *ngIf="currentMyProject?.tasks">
      <div *ngFor="let task of currentMyProject?.tasks">
      <ion-card  (click)="navigateTaskView(task)" *ngIf="!task.isDelete">
        <ion-card-header>
          <h4>{{task?.title}}</h4>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col size="8">
              <img src="assets/images/timetable.png">
              <span style="font-size: 16px;
            font-weight: 600;">
                {{task?.endDate | date : 'dd-MM-yyyy'}} </span>
            </ion-col>
            <ion-col size="4">
              <div class="statusbar" *ngIf="task?.status"
                [ngClass]="{'notyetstart': task.status == 'Not started','completed': task.status == 'Completed', 'inprogress': task.status == 'In Progress'}">
                <div class="status-plate">{{'add_task.status' | translate}} </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      </div>
    </div>
  </div>
  <!-- Popup -->
  <div *ngIf="showpopup" class="custom-popup">
    <div class="pop-container">
      <div class="pop-ion">
        <ion-icon ios='ios-checkmark-circle' md='md-checkmark-circle' color='primary' style='font-size:60px;'>
        </ion-icon>
      </div>
      <div class="pop-msg">
        <h5> {{'message.after_prject_create' | translate}}</h5>
      </div>
      <ion-row class="pop-btn">
        <ion-col size="6">
          <ion-button color="primary" (click)="closepopup()"> {{'button.continue' | translate}}</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="primary" (click)="navigateToProjectViewScreen()"> {{'button.view_project' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <!-- Popup ends here -->
  <div>
    <ion-button (click)="save()" color="secondary" class="round-corner-btn" expand="block">
      {{'button.save_and_view' | translate}}
    </ion-button>
  </div>
</ion-content>