.right-icon{
    margin: auto;
    margin-top: 40px;
    padding: 5px;
    border: 1px solid #000;
    border-left: none;
    height: 48px;
    width: 48px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.add-btn
{
    text-transform: capitalize;
    margin-right: 15px;
    font-family: 'SourceSansPro-Bold';
    font-size: 16px;
    font-weight: 600;
    float: right;
}
ion-label{
    font-family: 'SourceSansPro-Bold';
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
  }
 .tasks-container{
     margin-top:55px;
     min-height: 50%;
     margin-bottom: 20px;
     ion-card{
        margin: 5px 0px;
        padding: 5px;
        border-radius: 0px;
     ion-card-header
     {
        padding: 5px 15px;
        font-family: 'SourceSansPro-Bold' !important;
        h4{
            margin: 0px;
            color: #000;
        }
     }
     ion-card-content {
         padding: 0px;
        img
        {
            width: 30px; float: left; margin: 0px 10px;
        }
        .statusbar{
            height: 5px;
            width: 95%;
            border-radius: 15px;
            .status-plate{
            text-align: center;
            text-transform: capitalize;
            padding-top: 10px;
            font-size: 16px;
            font-weight: 600
            }
        }
        .notyetstart
        {
            background: #e6e6e6;
        }
        .completed
        {
            background: #66f271;
        }
        .inprogress
        {
            background: #ed8e3b;
        }
    }
     }
 }
 .pop-container
    {
        margin: auto;
        max-width: 80%;
        box-shadow: 0px 3px 8px 4px #e2e2e2;
        background: #fff;
        padding: 10px;
        .pop-ion{
            text-align: center;
            ion-icon{
                font-size:60px;
            }
        }
        .pop-msg
        {
        margin: 0px 20px;
        }
        .pop-btn{
            margin: 0px 15px;
            ion-button{
                text-transform: capitalize;
                font-family: 'SourceSansPro-Bold' !important;
            }
        }
    }
    .custom-popup
    {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 30%;
    width: 100%;
    height: 100%;
    overflow: auto;
    }