

@import'../../theme/colors.scss';

.ion-footer-custom {
  text-align: center !important;
  background: $white-color !important;
  .brdr-radius-30 {
    --border-radius: 30px;
  }
}

.imageAdj {
  width: 50%;
}

.container {
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  color: $dark-grey-color;
  margin-top: 30px;
}

.alignLeft {
  text-align: center;
  // text-justify: justify;
}

.skipBtn {
  padding: 25px 0;
  // font-size: 20px;
  font-size: 16px;
  margin-bottom: 0;
}

.getstarted {
  padding: 20px 30px;
  font-size: 16px;
  border-radius: 15px;
  margin: 15px 0;
}

.slideTwoMaxSize {
  // max-width: 300px;
  max-height: 300px;
}

.poweredBy {
  font-size: 12px;
}

.blackText {
  color: $black-color;
  margin-top: 60px;
}

.maxSize {
  max-height: 300px;
}

.mainContainer {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
// .swiper-container {
//   width: 600px;
//   height: 300px;
// }


