<ion-content class="ion-padding" *ngIf="show">

  <ion-slides pager="true" style="min-height: 100%;" (ionSlidePrevEnd)="slideDidChangePrev($event)"
    (ionSlideNextEnd)="slideDidChangeNext($event)">
    <ion-slide>
      <div class="mainContainer">
        <div class="container">
          <img src="../../assets/images/onboarding1.png" class="maxSize" />
        </div>
        <div class="_flex-box _justify-content-center conatiner">
          <h4 class="blackText"> Planning Improvement Projects</h4>
          <ion-text class="alignLeft content ion-text-wrap">
            Create and track projects towards improving
            school and school
            support system.
          </ion-text>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="mainContainer">
        <div class="container">
          <img src="../../assets/images/onboarding2.png" class="maxSize" />
        </div>
        <div class="_flex-box _justify-content-center conatiner">
          <h4 class="blackText"> Assign Tasks and Subtasks</h4>
          <ion-text class="alignLeft content ion-text-wrap">
            Divide your plans into tasks and sub-tasks
            and assign it to other
            users.
          </ion-text>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="mainContainer" style="margin-top: 50%;">
        <div class="container">
          <ion-icon name="ios-key" style="font-size: 6em;color: #777;"></ion-icon>
        </div>
        <a (click)="loginClick()">
          <div>
            <h1>
              LOGIN
              <span>
                <ion-icon name="ios-log-in" style="vertical-align: middle;">
                </ion-icon>
              </span>
            </h1>
          </div>
        </a>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>
<ion-footer class="ion-footer-custom">
  <ion-button *ngIf="buttonTitle == 'Skip'" expand="block" (click)="loginClick()">
    {{ buttonTitle }}
  </ion-button>
  <ion-button *ngIf="buttonTitle == 'Get started'" class="brdr-radius-30" (click)="loginClick()">
    {{ buttonTitle }}
  </ion-button>
</ion-footer>