<!-- <ion-split-pane> -->
  <ion-menu side="start"  contentId="content" >
    <ion-header>
      <ion-toolbar>
        <ion-title>{{appName}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list >
        <ion-menu-toggle auto-hide="false" *ngFor="let pages of navigate">
          <ion-item (click)="navigationLink(pages)">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
            {{pages.title | translate}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!-- <ion-header>
    <app-header title="LABELS.HOME"></app-header>
  </ion-header> -->
  
  <ion-router-outlet id="content" main></ion-router-outlet>
<!-- </ion-split-pane> -->