<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title style="  padding-left: 0px;" *ngIf="task">
      <ion-item text-wrap style=" --background: transparent;
      color: #fff; --border-color: transparent;float: left;width: 100%;">
        <ion-grid>
          <ion-row style="font-size: 1.3em;">
            <ion-col>
              {{ task.title }}
            </ion-col>
          </ion-row>
          <ion-row style="text-align:center; font-size: 14px;">
            <ion-col>Start date <br />
              {{ task.startDate  | date :'dd-MM-yyyy'}}
            </ion-col>
            <ion-col> Status <br />
              {{ task.status }}
            </ion-col>
            <ion-col>End date<br />
              {{ task.endDate  | date :'dd-MM-yyyy' }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="task && task.subTasks">
    <ion-card *ngFor="let subtask of task.subTasks; let i = index" style="background:#f2eded;">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col> {{ i + 1 }} &nbsp; &nbsp; {{ subtask.title }}</ion-col>
            <ion-col *ngIf="subtask.status" style="max-width: 40%">
              <p class="status notyetstarted" *ngIf="
                  subtask.status == 'not yet started'">
                {{ subtask.status }}
              </p>
              <p class="status inprogress" *ngIf="subtask.status == 'in progress'">
                {{ subtask.status }}
              </p>
              <p class="status completed" *ngIf="subtask.status == 'completed'">
                {{ subtask.status }}
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card *ngIf="task && !task.subTasks">
    <ion-card-header> </ion-card-header>
    <ion-card-content>
      No Subtasks are created for this Task.
    </ion-card-content>
  </ion-card>
</ion-content>