<ion-header>
  <ion-toolbar color="primary">
    <ion-icon (click)="goBack()" ios="ios-arrow-back" md="md-arrow-back" class="header-action-icons">
    </ion-icon>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item text-wrap style=" --background: #af4038;
  color: #fff; --border-color: transparent;float: left;width: 100%;">
    <ion-grid>
      <ion-row style="text-align: center; font-size: 12px;">
        <ion-col>
          Tasks <br />
          {{ totalTasks }}
        </ion-col>
        <ion-col>
          Subtasks Tasks <br />
          {{ totalSTasks }}
        </ion-col>
      </ion-row>
      <ion-row style="text-align: center;">
        <ion-col> Project Status <br /> {{status}} </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <div id="container"> </div>
</ion-content>