@import'../../theme/colors.scss';

  .full-left {
    float: left;
    margin-top: 70px;
    width: 98%;
    padding: 5px 1%;
    overflow-x: auto;
  }
  .medium-right {
    float: right;
    width: 65%;
    padding: 5px 1%;
    overflow-x: auto;
  }
  .third-left {
    width: 30%;
    float: left;
    padding: 5px 1%;
    overflow-x: auto;
  }

  h2 {
    font-size: 20px;
    color: $black-color;
    background-color: $white-color;
    padding: 10px;
    text-align: center;
  }
  .header-action-icons{
    font-size:28px;
    padding-left:15px;
    float: left;
  }