.project-detail{
    background:#f7f7f7;
    border-bottom:2px solid #b23d33;
    // font-family: 'SourceSansPro-Bold';
    font-weight: 600;
    .label-box{
        // font-family: 'SourceSansPro-Bold';
        font-weight: 600;
        text-transform: uppercase;
    }
    ion-row
    {
        padding: 5px 0px;
    }
}
.tasks-box{
    background:#fff;
    // font-family: 'SourceSansPro-Bold';
    font-weight: 600;
    margin-bottom: 3em;
    min-height: 9em;
   .left-border{
    width: 6px;
    height: 50%;
    max-width: 10px;
    margin: 1.5em 0px;
    position: absolute;
   }
   h5{
    margin-top: 0px;
    margin-bottom: 0px;
   }
   .completed-task-left-border{
       background: green;
   }
   .pending-task-left-border{
    background: #828386;
}
    .task-list{
        border-bottom: 1px solid #b23d33;
        padding: 5px 15px 5px 15px;
        .task-endDate{
        font-size: 1.3em;
        color: #b23e33;
        text-align: center;
        }

        .checkBoxes{
            width: 25px;
            height: 25px;
        }
       
    }
    .tasks-label {    
        text-align: center;
        ion-icon{
            font-size: 30px;
            margin-top: -5px;
            position: absolute;
            margin-left: 12px;
        }
    }
    .date-label{
        text-align: center;
        color: #5a5b5d;
        font-size:16px;
        font-weight: 600;
        }
}
.custom-select{
    border: 1px solid #ccc;
    padding: 5px;
    min-width: 70%;
    max-width: 70%;
    height: 36px;
    border-radius: 4px;
    }
    .prjdetail-btn{
        margin-top:20px;
        margin-bottom: 0px;     
        font-size: 16px;
        min-height: 36px;
        margin-bottom: 50px;
    }
.file-container{
    margin-left: 15px;
    width: 5em;
    height: 5em;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 2em;
}