<div *ngFor="let project of data">
  <ion-card class="category-projects" (click)="getData(project._id)" *ngIf="!project.isDeleted">
    <div id="pointer" *ngIf="project.new">
      <p>{{'LABELS.NEW_PROJECT' | translate}}</p>
    </div>
    <ion-card-header>
      <ion-row>
        <ion-col size="4" class="label-box">
          {{'LABELS.PROJECT_TITLE'| translate}}
        </ion-col>
        <ion-col size="8" class="val-box" style="padding-left:0px;">
          {{project?.title}}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="4" class="label-box">
          {{'LABELS.OBJECTIVE'| translate}}
        </ion-col>
        <ion-col size="8" class="val-box">
          {{project?.description}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="project.noOfRatings">
        <ion-col size="4" class="label-box">
          {{'LABELS.RATING'| translate}}
        </ion-col>
        <ion-col size="6" class="val-box">
          <app-star-ratings [ratingStar]="ratingStar" [userRating]="project.averageRating">
          </app-star-ratings>
        </ion-col>
        <ion-col size="2" class="val-box text-right">
          ({{project.noOfRatings}})
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>