<ion-header>
  <app-header title="LABELS.DIKSHA_GUIDLINES" [bottomBorder]="true" [showMenu]="false" [hideNotification]="true">
    <ion-back-button></ion-back-button>
  </app-header>
</ion-header>

<ion-content class="ion-padding">
  <p>
    These Projects Guidelines specify the rights and responsibilities of Registered Users who use and participate in
    DIKSHA Projects. These Projects Guidelines should be read in conjunction with the <b> Terms of Use, Content Policy
    </b> and <b>Privacy Policy </b> of DIKSHA. Defined terms used but not defined herein shall have the meaning ascribed
    to them in the Terms of Use of DIKSHA.
  </p>
  <h5>Part A: Important Terms</h5>
  <h5>1. What is DIKSHA Projects?</h5>
  <p>DIKSHA Projects is a mobile application available on the Google Playstore (Link) that can be used to plan and track
    school improvement projects. </p>

  <h5>2. What is a Project?</h5>
  <p> a. A Project comprises: </p>
  <p> i. Project goal</p>
  <p> ii. Project title</p>
  <p> iii. Duration </p>
  <p> iv. Tasks</p>
  <p> v. Sub-tasks</p>
  <p> vi. District</p>
  <p> vii. School name</p>
  <p> viii. Username of Project creator</p>
  <p> ix. Project creation date</p>
  <p> x. Entity details</p>
  <p> xi. Supporting Evidence</p>
  <p> b. A Project can be
    created by a Registered User of DIKSHA. </p>
  <p> c. Projects are only visible to the Registered User who has created the
    Project, the Administrators who belong to the same Institutional User as the Registered User who created the Project
    and any Program Managers assigned by the Administrator to the Project.</p>
  <p> d. Templates of reviewed Projects are
    searchable.</p>
  <h5> 3. What is Supporting Evidence? </h5>
  <p> a. Supporting Evidence are photographs or documents provided in support of a Project and can relate to the tasks
    and
    sub-tasks that are being planned and tracked. </p>
  <h5> 4. Who is a Program Manager and what can they do? </h5>
  <p> A Registered User who has been assigned to be a Program Manager by an Administrator. A Program Manager can do all
    the activities listed in Part C below.</p>
  <p> Registered User and Administrator shall have the same meaning provided inthe <b>Terms of Use </b> of DIKSHA.</p>
  <h5> Part B: For Registered Users who create Projects</h5>
  <h5> 1. A Registered User of DIKSHA can :</h5>
  <p> a. Create a Project</p>
  <p> b. Provide Project details (listed point 2 above)</p>
  <p> c. Upload supporting Evidences</p>
  <p> d. Share the Project to the Administrator and Program Managers for review once the Project is complete </p>
  <p> e. Search for templates of reviewed and published Projects that can be reused </p>
  <p> f. View the completed Projects submitted by them and related progress reports
  </p>
  <h5>
    2. A Registered User who has created a Project is responsible for:
  </h5>
  <p> a. Obtaining appropriate permissions and consents for uploading Supporting Evidence</p>
  <p> b. Ensuring that the Supporting Evidence is uploaded only after obtaining due permissions and consents and meets
    the Appropriateness standards described in the <b>Content Policy of DIKSHA,</b> and are in no way violative of the
    <b>Prohibited Uses</b> set out in the <b>Terms of Use</b> of DIKSHA. Please take a look at the <b> Supporting
      Evidence Guidelines</b> in
    Part D below for more details. </p>
  <p> c. Refraining from using Projects for any of the Prohibited Uses set out in the <b>Terms of Use.</b> </p>
  <h5>
    3. Registered Users who create Project, consent to sharing the following data with the relevant Administrator and
    Program Manager:
  </h5>
  <p> a. Name </p>
  <p> b. School</p>
  <p> c. District</p>
  <p> By creating a Project on DIKSHA Projects, and by providing your information on DIKSHA, you consent to the
    collection and use of the information you disclose on DIKSHA and DIKSHA Project by relevant Administrators of DIKSHA
    in accordance with the policies and guidelines of DIKSHA as applicable from time to time, including the <b>Terms of
      Use</b> and <b>Privacy Policy</b> of DIKSHA, and these <b>DIKSHA Project Guidelines.</b> If you do not agree with
    the contents of this policy, please do not access or use DIKSHA or DIKSHA Projects.
  </p>
  <h5> Part C: For Administrators and Project Managers
  </h5>
  <h5> 1. Administrators and Project Managers can:</h5>
  <p> a. Access data and information of Projects (listed in point 2 of Part A above) that are submitted by Registered
    Users that belong to the 2
    same Institutional User as the Administrator. Project data and information is available only for a period of 1 year
    from the submission.</p>
  <p> b. Access data and information of Registered Users who created Projects(listed in point 3 of Part B above)</p>
  <p> c. Assess and validate the status of completion of the Projects by referring to Supporting Evidence</p>
  <p> d. Evaluate the quality and reusability of a Project (i.e. detailing of tasks etc.)</p>
  <p> e. Verifying the claim that a Project was actually carried out (using Supporting Evidence)</p>
  <p> f. Identifying the champions using the data and information of the Projects and Registered Users</p>
  <p> g. Download data and reports in relation to the Projects and Registered Users who have created Projects.</p>
  <h5> 2. Administrators and Project Managers are responsible for:</h5>
  <p> a. Using the data and information of the Projects and Registered Users only for the purposes of programs, and for
    no other purpose.</p>
  <p> b. Respecting the privacy and data protection rights of Registered Users.</p>
  <p> c. Ensuring the security of and use of data (especially personal data) shared by Registered Users or obtained from
    DIKSHA is limited solelyto the purposes mentioned here and is not used for:</p>
  <p> i. Sale or other commercial purposes;</p>
  <p> ii. Advertising or marketing;</p>
  <p> iii. Phone calls or other forms of unsolicited communication that is not related to usage of DIKSHA; </p>
  <p> iv. Building a personal profile, other than for educational purposes on DIKSHA; </p>
  <p> v. Defaming, harassing, abusing, threatening or defrauding any Registered Users, </p>
  <p> vi. Impersonating any person or entity, falsely claiming an affiliation with any person or entity, or accessing
    DIKSHA accounts without permission, or perform any other fraudulent activity;</p>
  <p> vii. Sending junk mail or spam, informational announcements, charity requests, and petitions for signatures etc.
  </p>
  <p> viii. Any of the Prohibited Purposes set out in the Terms of Use; and </p>
  <p> ix. Any purpose that is not disclosed in this policy, on DIKSHA Projects or on DIKSHA.
  </p>
  <p> d. Knowing that any use of data for purposes outside of the proper use shall be considered violation of the terms
    of the policies of DIKSHA Projects, DIKSHA as well as applicable laws and policies of India and
    shall be responsible and liable for such actions and for any loss or damage arising from failure to comply with this
    obligation. </p>
  <p> e. Ensuring that any communication with Registered Users who have created Projects is relevant to the purpose of
    the Project and meets the Appropriateness standards set out in the <b> Content Policy of DIKSHA.</b> </p>
  <p> f. Refraining from using Projects for any of the Prohibited Uses set out in the <b> Terms of Use.</b> </p>
  <h5>
    Part D: Supporting Evidences Guidelines
  </h5>
  <p> 1. Visual Requirements for Supporting Evidence: All Supporting Evidence uploaded must be: </p>
  <p> a. Clear and legible </p>
  <p> b. Photographs must be in focus, without distortions </p>
  <p> 2. Technical guidelines for Supporting Evidence: </p>
  <p> a. All Supporting Evidence must have unique titles and relevant tags </p>
  <p> b. File format for photographs should be .jpeg, .jpg, .png only </p>
  <p> c. File format for documents should be .pdf format only.</p>
  <p> d. The maximum file size for any Supporting Evidence is 10MB. </p>
  <p> 3. Bad Practices: Registered Users must not indulge in any of the following badpractices while uploading Supporting
    Evidence, including: </p>
  <p> a. Uploading photos of individuals without their consent: Photos which include other people who are not the
    subject of the photo and have not signed a consent / release form to share those photos through DIKSHA Projects, are
    not permitted. Any person that appears in the photo (whose face is visible) must sign a consent / release form with
    the photographer where they consent to the sharing of such photo(s) with third parties, including through DIKSHA
    Projects. If the individual is a child under the age of 18 years, the parents or guardians of such child must sign
    such consent/ release form.</p>
  <p> b. Uploading photos with ethical issues: Photographs containing violent, pornographic or sensitive content that
    could, in some way, offend our users are not permitted. For more instances of inappropriate content please see the
    Content Policy of DIKSHA. </p>
  <p> c. Uploading photos or documents which require authorisation from the author / owner of the photograph or
    document: Certain types of photographs or documents require the permission of the author / owner such as copyrighted
    works (eg. logos, literary or artworks), or confidential documents. It is important that before uploading such
    Supporting Evidences, appropriate written permissions are taken. </p>
  <p> d. Uploading photos or documents which don’t meet technical or visual requirements. </p>
  <p> e. Uploading repeats of the same photos or documents</p>
  <p> f. Uploading files that contain viruses or malware.
  </p>
</ion-content>