$primary:    #024F9D;
$secondary:  #008840;
$danger:     #E55A28;
$light:      #f4f4f4;
$dark:       #222;

$green-color: green;
$grey-color: #fafafa;
$dark-grey-color: #808080;
$font-size-base: 14px;
$font-size-large: 18px;
$white-color: #fff;
$medium-grey-color: #ebebeb;
$blue-color: #024F9D;
$red-color: #ff0000;
$orange-color: #ff8c00;
$toolbar-background: $blue-color;
$black-color: #222;
$medium-black: #707070;
$secondry-color: #5cb843;