$dark-brown-color:#442c2e;
$white-color:#fff;
$black-color:#000;
$light-grey-color: #f2efef;
$dark-grey-color:#5a6779;
$green-color: #1bb136;
$yellow-color:#ffc107;
$blue-color:#64B5F6;
$trasperant-gray-color :#a9a9a966;
$red-color:#FF0000