@font-face {
    font-family: 'SourceSansPro';
    src: url('../assets/fonts/SourceSansPro-ExtraLight.ttf') format("truetype");;
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceSansPro';
    src: url('../assets/fonts/SourceSansPro-Regular.ttf') format("truetype");;
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('../assets/fonts/SourceSansPro-Bold.ttf') format("truetype");;
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'SourceSansPro';
    src: url('../assets/fonts/SourceSansPro-Black.ttf') format("truetype");;
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'HelveticaNeue Medium';
    src: url('../assets/fonts/helvetica/HelveticaNeue Medium.ttf') format("truetype");;
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'HelveticaNeue Bold';
    src: url('../assets/fonts/helvetica/Helvetica Neu Bold.ttf') format("truetype");;
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'HelveticaNeue Helvetica Neu BlackCond';
    src: url('../assets/fonts/helvetica/Helvetica Neu BlackCond.ttf') format("truetype");;
    font-weight: normal;
    font-style: normal;
  }