<ion-header>
  <app-header [title]="Search" [bg]="bgcolor" [showMenu]="false" [showBack]="true" [isGoBack]="back" [noBorder]="false">
  </app-header>
</ion-header>
<ion-content>
  <ion-item class="search-bar-custom">
    <ion-icon name="search" item-left color="dark"></ion-icon>
    <ion-input type="text" placeholder="Search" [(ngModel)]="searchInput"></ion-input>
  </ion-item>
  <ion-card style="margin: 20px;">
    <div *ngFor="let project of projects">
      <ion-row style="padding: 5px;
      border-bottom: 1px solid;
      color: #d33939;
      background: #f2f2f2;" >
        <ion-col size="1">
          <img src={{project.icon}} style="width: 40px; margin-right: 20px;">
        </ion-col>
        <ion-col size="11">
          {{project.category}}
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let project of project.projects | searchProjects : searchInput" style="padding: 10px;" (click)="viewProject(project)">
        <ion-col size="1"> <img src={{project.icon}} style="width: 30px; margin-right: 20px;"></ion-col>
        <ion-col size="11">{{project.title}} </ion-col>
      </ion-row>
    </div>
  </ion-card>
</ion-content>