<ion-header>
  <app-header [title]="'subtasks' | translate" [showMenu]="false" [showBack]="true" [isGoBack]="back"> </app-header>
</ion-header>
<ion-content>
  <div *ngFor="let task of tasks; let i = index">
    <ion-item (click)="navigateToView(task)" *ngIf="!task.isDeleted">
      <ion-thumbnail slot="start" style="font-size: 11px;width: 60px;padding-top: 16px;"
        [ngClass]="{'st-completed': task.status == 'completed', 'st-notstarted': task.status == 'not yet started', 'st-inprogress': task.status == 'in progress'}">
        {{task.endDate | date: 'dd-MM-yyyy'}}
        <p> {{task.status}}</p>
      </ion-thumbnail>
      <ion-label style="font-size: 14px;
          font-weight: 400;
    white-space: unset !important;"> {{task.title}} </ion-label>
      <ion-icon slot="end" name="ios-arrow-forward"> </ion-icon>
    </ion-item>
  </div>
  <!-- fab placed to the bottom end -->
  <div style="height:70px;"></div>
  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" style="margin-bottom: 40px;">
    <ion-fab-button color="success" (click)="createTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>