.tabs-list{
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  .custom-card
  {
    margin: 0px;
    background:#fff;
    ion-card-content{
    padding: 0px;
    font-size: 16px;
    color: #000;
    }
  }
  .custom-tab{
    width:50%;
    background:#fff;
    color: #000;
      float: left;
      padding: 15px;
      text-align: center;
      font-size: 18px;
      border-bottom: 2px solid #b23e33;
      font-weight: 600;
  }
  .active-tab{
    background: #b23e33;
    color: #fff;
  }
  .ongoing-container{
    margin-bottom:3em;
    ion-card{
      border-radius: 0px;
      padding: 15px;
    }
    .title-section{
      font-family: sans-serif;
      text-transform: capitalize;
      color: #000;
      font-weight: 600;
      margin: 5px 0px;
      font-size: 1.2em;
    }
    
    .statusbar{
      height: 5px;
      width: 95%;
      border-radius: 15px;
      .status-plate{
      text-align: center;
      text-transform: capitalize;
      padding-top: 10px;
      font-size: 16px;
      font-weight: 600
      }
  }
  .notyetstart
  {
      background: #e6e6e6;
  }
  .completed
  {
      background: #66f271;
  }
  .inprogress
  {
      background: #ed8e3b;
  }
  }
  
