@import'../../theme/colors.scss';

.tabs-list{
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  .custom-card
  {
    margin: 0px;
    background:$white-color;
    ion-card-content{
    padding: 0px;
    font-size: 16px;
    color: $black-color;
    }
  }
  .custom-tab{
    min-width:50%;
    max-width:50%;
    background:$white-color;
    color: $black-color;
      float: left;
      padding: 15px;
      text-align: center;
      font-size: 18px;
      border-bottom: 2px solid $primary;
      font-weight: 600;
  }
  .active-tab{
    background: $primary;
    color: $white-color;
  }
  .ongoing-container{
    margin-bottom:3em;
    ion-card{
      border-radius: 0px;
      padding: 15px;
    }
    .title-section{
      font-family: sans-serif;
      text-transform: capitalize;
      color: $black-color;
      font-weight: 600;
      margin: 5px 0px;
      font-size: 1.2em;
    }
    
    .statusbar{
      height: 5px;
      width: 95%;
      border-radius: 15px;
      .status-plate{
      text-align: center;
      text-transform: capitalize;
      padding-top: 10px;
      font-size: 16px;
      font-weight: 600
      }
  }
  .notyetstart
  {
      background: $dark-grey-color;
  }
  .completed
  {
      background: $secondary;
  }
  .inprogress
  {
      background: $orange-color;
  }
  }
  
