@import'../../theme/colors.scss';

.report-card
{
    font-size: 30px;
    color: $black-color;
    margin-top: 5%;
    background:$dark-grey-color;
    ion-card-content
    {
        padding-inline-start: 10px !important;
        color: $black-color;
    }
    ion-col,ion-row,ion-grid{
        padding: 0px !important;
    }
    ion-icon
    {
        font-size: 30px;
        margin-top: 35%;
    } 
}