@import'../../theme/colors.scss';

.custom-card
{
    ion-card-header{
        background: $grey-color;
        padding: 10px;
        color: $black-color;
    }
    ion-button{
        --border-radius:20px;
        text-transform: none;
    }
    ion-card-content{
        padding-inline-start :0px !important;
        padding-inline-end :0px !important;
    }
}