.listItem {
    border-radius: 10px;
    margin: 8px 0;
}

.heading {
    font-family: "Raleway-Bold";
    flex: 1;
}

.time {
    font-family: "Raleway-Bold";
}

.subText {
    font-family: "Raleway-Light";
}

.time-icon {
    margin-right: 5px;
}