<ion-list text-wrap class="container" *ngIf="notifications?.length">
  <div *ngIf="!notifications?.length"
    class="_errorBox _flex-box errorMessage _justify-content-center vertical-align-text">
    {{ "message.noUnreadNotifications" | translate }}
  </div>
  <ion-card no-lines class="old-notification notificationCard custom-list"
    [ngClass]="{ 'new-notification': !notification?.is_read }" *ngFor="let notification of notifications; let i = index"
    (click)="onNotificationClick(notification, i)">
    <div class="notificationTitle _flex-box ">
      <ion-row>
        <ion-col [ngClass]="{ 'custom-title-col': notification.created_at }" style="padding: 0px;">
          {{ notification?.title ? notification?.title : notification?.text }}
        </ion-col>
        <ion-col class="_flex-box" *ngIf="notification.created_at" style="text-align: right;
          max-width: 40%;
          min-width: 40%; padding:0px;">
          <ion-icon name="time" style="margin-bottom: -2px;"></ion-icon>
          {{ momentInstance(notification?.created_at).fromNow(true) }}
        </ion-col>
      </ion-row>
    </div>
    <div class=" _flex-box">
      <!-- <div class="dot" [ngClass]="{'inactiveDot' : notification?.is_read }"></div> -->
      <div style="flex:1">
        <div>{{ notification?.text }}</div>
        <!-- <div class="time">{{notification?.created_at| date:'medium'}}</div> -->
      </div>
    </div>
  </ion-card>
  <!-- <ion-item *ngIf="showViewMore ">
      <div class=" _flex-box" (click)="goToAllNotifications()">
        {{'message.viewAll'| translate  }} <ion-icon name="arrow-forward" margin-left></ion-icon>
      </div>
    </ion-item> -->
</ion-list>

<!-- <div class="_errorBox _flex-box errorMessage _justify-content-center">
    <div *ngIf="notifications?.length"
      class=" old-notification notificationCard">
      {{'message.noUnreadNotifications' | translate}}
    </div>
  </div> -->

<ion-list text-wrap class="errorContainer _flex-box" *ngIf="!notifications?.length">
  <ion-item no-lines class="old-notification notificationCard childContainer custom-list vertical-align-text">
    {{ "message.noUnreadNotifications" | translate }}
  </ion-item>
</ion-list>

<!-- Skeleton screen -->
<div *ngIf="showSkeleton">
  <ion-card *ngFor="let skeleton of skeletons">
    <ion-card-header>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-card-header>
    <ion-card-content class="skeleton-card-content">
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-card-content>
  </ion-card>
</div>