.dot {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color: #b23d33;
  border-radius: 50%;
}

.notificationCard {
  border-radius: 15px;
  margin: 15px 0;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.16);
  // padding: 10px;
  padding: 5px 30px;
}
.custom-list {
  --background: transparent;
  --border-color: transparent;
}
.inactiveDot {
  background-color: #000;
}

.action-notifications {
  text-align: center;
}

.old-notification {
  background: #ebebeb;
  color: #000;
  padding: 10px 25px;
}

.new-notification {
  background: #b23d33;
  color: #fff;
  padding: 10px 25px;
}

.notificationTitle {
  font-family: 'Source Sans Pro', sans-serif !important;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 5px;
}

.container {
  padding: 0 15px !important;
}

.errorContainer {
  padding: 0 15px !important;
  height: 80vh !important;
}

.childContainer {
  text-align: center;
}

.time {
  color: #080808;
  font-size: 12px;
}
.time-ago {
  color: #000;
}
.errorMessage {
  color: #080808;
}
.vertical-align-text {
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  margin: 0px 26px;
  font-weight: 500;
}
.custom-title-col {
  float: left;
  max-width: 60% !important;
  min-width: 60% !important;
  padding: 0px !important;
}
