.subtasksBtn
{
    padding: 2px;
    height: 20px;
    width: 20px;
    color: #fff;
    background: #af4038;
    border-radius: 15px;
    margin-right: 5px;
}
.label-divider{
    font-size:16px;
    ion-label{
        font-size:16px;
        color: #000000;
        img {
            width: 22px;
            float: left;
            margin-right: 10px;
        }
    }
}
.ion-color-light {
    --ion-color-base: #ffffff !important;
    --ion-color-base-rgb: var(--ion-color-light-rgb, 244,245,248) !important;
    --ion-color-contrast: var(--ion-color-light-contrast, #000) !important;
    --ion-color-contrast-rgb: var(--ion-color-light-contrast-rgb, 0,0,0) !important;
    --ion-color-shade: #ffffff !important;
    --ion-color-tint: #ffffff !important;
    --box-shadow: none;
    text-transform: none;
}
.ion-color-dark {
    --ion-color-base: #5b514f !important;
    --ion-color-base-rgb: var(--ion-color-dark-rgb, 34,36,40) !important;
    --ion-color-contrast: var(--ion-color-dark-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-dark-contrast-rgb, 255,255,255) !important;
    --ion-color-shade: #5b514f !important;
    --ion-color-tint: #5b514f !important;
}
.action-list
{
    list-style:none; 
    display:inline-flex;
    padding-inline-start: 0px;
    width: 100%;
}