<ion-header>
  <app-header [title]=project?.title [showMenu]="false" [showBack]="true" [isGoBack]="back">
  </app-header>
</ion-header>
<ion-content>
  <div class="project-detail" *ngIf="project">
    <div class="ion-padding">
      <ion-row *ngIf="!editGoal">
        <ion-col size="5" class="label-box">
          {{'projectDetail.goal'|translate}}
        </ion-col>
        <ion-col size="7" (click)="allowEdit('goal')">
          {{project?.goal}}
        </ion-col>
      </ion-row>
      <ion-item class="custom-ion-item" *ngIf="editGoal" (mouseout)="blockEdit('goal')">
        <ion-label class="custom-label" position="floating"
          [ngClass]="{'required-field':markLabelsAsInvalid && !project.goal}">
          {{'create_project.goal' | translate}}</ion-label>
        <ion-textarea type="text" [(ngModel)]="project.goal" name="goal" (mouseout)="blockEdit('goal')"
          placeholder="{{'create_project.placeholder_goal'| translate}}" maxlength="1000"></ion-textarea>
      </ion-item>
      <ion-row *ngIf="project?.duration">
        <ion-col size="5" class="label-box">
          {{'projectDetail.duration' | translate}}
        </ion-col>
        <ion-col size="7">
          {{project?.duration}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="project?.startDate">
        <ion-col size="5" class="label-box">
          {{'projectDetail.start_date' | translate}}
        </ion-col>
        <ion-col size="7" (click)="setDate('sd')">
          {{project?.startDate}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="label-box">
          {{'projectDetail.end_date' | translate}}
        </ion-col>
        <ion-col size="7" (click)="setDate('ed')">
          {{project?.endDate}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="project?.status">
        <ion-col size="5" class="label-box">
          {{'projectDetail.status' | translate}}
        </ion-col>
        <ion-col size="7" *ngIf="project?.status">
          <ion-select [(ngModel)]="project.status" class="custom-select" placeholder="Select Status" [disabled]="true">
            <ion-select-option  *ngFor="let status of statuses"  value="{{status.title}}"
              selected="status.title === project.status">{{status.title}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-button class="round-corner-btn prjdetail-btn" expand="block" color="secondary"
        (click)="navigateToResources()" *ngIf="category != 'my_projects'">
        {{'button.learning_resources' | translate}}
      </ion-button>
    </div>
  </div>

  <div *ngIf="project && !showSkeleton">
    <h4 style="padding: 0px 10px;">{{ project.title }}</h4>
    <ion-card class="welcome-card custom-card">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>{{ "projectDetail.duration" | translate }} </ion-label><br />
              <p>{{ project.duration }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label style="float:left;">{{ "projectDetail.status" | translate }}
              </ion-label>
              <p class="status notyetstarted" *ngIf="
                  project.status == 'not started yet' ||
                  project.status == 'not yet started'
                ">
                {{ project.status }}
              </p>
              <p class="status inprogress" *ngIf="project.status == 'in progress'">
                {{ project.status }}
              </p>
              <p class="status completed" *ngIf="project.status == 'completed'">
                {{ project.status }}
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="text-center">
          <ion-button style="--border-radius: 20px;" size="small" [routerLink]="['/project-view/courses']">
            {{ "projectDetail.view_resources" | translate }}
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="task-board" *ngIf="project.tasks">
      <h4 style="padding: 10px;">{{ "tasks.title" | translate }}</h4>
      <div *ngFor="let task of project.tasks">
        <ion-card *ngIf="!project.isDeleted" (click)="navigateToView(task._id)">
          <ion-card-content>
            <ion-row>
              <ion-col style="min-width: 85%;"> {{ task.title }}</ion-col>
              <ion-col>
                <i class="material-icons" style="float: right;">
                  add_circle
                </i></ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div class="featured-btn">
      <ion-button size="small" (click)="createTask()">
        {{ "projectDetail.create_task" | translate }}
        <i class="material-icons" style=" margin-left: 5px;">
          add_box
        </i>
      </ion-button>
    </div>
    <div class="featured-btn">
      <ion-button style="--border-radius:20px;" color="success" size="small" (click)="syncConfirm()">
        {{ "sync" | translate }}
      </ion-button>
    </div>
  </div>
  <div *ngIf="showSkeleton">
    <ion-card *ngFor="let skeleton of skeletons" class="custom-card">
      <ion-card-header>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-card-header>
      <ion-card-content class="skeleton-card-content">
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>