<ion-header>
  <app-header [title]="'file.title' | translate" [showMenu]="false" [showBack]="true" [isGoBack]="back"
    [noBorder]="true">
  </app-header>
</ion-header>
<ion-content>
  <div class="tabs-list">
    <div class="custom-tab" (click)="selectTab('images')" [ngClass]="{'active-tab': activeTab == 'images'}">
      {{ "file.images" | translate }}</div>
    <div class="custom-tab" (click)="selectTab('files')" [ngClass]="{'active-tab':  activeTab == 'files'}">
      {{ "file.files" | translate }}
    </div>
  </div>
  <div *ngIf="currentMyProject" class="image-container">
    <div *ngFor="let task of currentMyProject.tasks">
      <ion-card *ngIf="activeTab == 'images' && (task.remarks || task.attachments)">
        <ion-card-header>
          <h4 style="text-transform: capitalize;"> {{task.title}} </h4>
        </ion-card-header>
        <ion-card-content *ngIf="task.remarks && images.length == 0">
          {{task.remarks}}
        </ion-card-content>
        <ion-card-content *ngIf="task.remarks && images.length > 0">
          <ion-row>
            <ion-col size="6">
              {{task.remarks}}
            </ion-col>
            <ion-col size="6" *ngFor="let image of images">
              <img src="{{image.data}}">
            </ion-col>
          </ion-row>
        </ion-card-content>
        <ion-card-content *ngIf="!task.remarks && images.length > 0">
          <ion-row>
            <ion-col size="6" *ngFor="let image of images">
              <img src="{{image.data}}" style="    max-height: 160px;
              max-width: 160px;
              width: 160px;
              height: 160px;">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div *ngIf="currentMyProject" class="file-container">
    <div *ngFor="let task of currentMyProject.tasks">
      <ion-card *ngIf="activeTab == 'files' && files" style="border-radius: 4px;">
        <ion-card-header style="background: #e3e3e3; color: #000; padding: 10px;">
          <h5> {{task.title}} </h5>
        </ion-card-header>
        <ion-card-content style="padding: 0px;" *ngFor="let attachment of files">
          <ion-card style="padding: 0px; border-radius: 0px;color: #000;" (click)="downloadFile(attachment)">
            <ion-grid>
              <ion-row>
                <ion-col style="min-width: 85%; margin: auto;
                          font-weight: 500; font-size: 1.2em;">
                  {{ attachment.name}}
                </ion-col>
                <ion-col class="arrow-mark">
                  <ion-icon name="ios-arrow-forward"> </ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>