<ion-list>
  <ion-item (click)="action(menu.value)" *ngFor="let menu of menus">
    <ion-label>{{menu.title}}
    </ion-label>
    <ion-avatar slot="end" class="avatar-style" *ngIf="menu.icon">
      <i class="material-icons" style="font-size: 1.4em;">
      </i>
    </ion-avatar>
  </ion-item>
  <!-- <ion-item (click)="syncProject()">
    <ion-label>{{share}}
    </ion-label>
    <ion-avatar slot="end" class="avatar-style">
      <ion-icon name="share"></ion-icon>
    </ion-avatar>
  </ion-item> -->
</ion-list>