<ion-header>
  <app-header title="LABELS.PROFILE_UPDATE" [showMenu]="false" [showReload]="false" [showSearch]="false">
    <ion-back-button></ion-back-button>
  </app-header>
</ion-header>

<ion-content>
  <div class="profile-form fullWidth" *ngIf="!showPreview">
    <div *ngIf="formGroup">
      <form [formGroup]="formGroup">
        <ion-list>
          <div *ngFor="let form_elem of dynamicForm;let i = index">
            <ion-item *ngIf="form_elem?.input ==='text'">
              <ion-label>{{form_elem?.label}} <span *ngIf="form_elem?.validation?.required" style="color: red;">*</span>
              </ion-label>
              <ion-select formControlName="{{form_elem.field}}">
                <ion-select-option *ngFor="let option of form_elem.options" [value]="option._id">
                  {{option.name || option?.title}} </ion-select-option>
              </ion-select>
            </ion-item>
            <div *ngIf="form_elem?.input !=='text'" class="selection" (click)="openDialog(i, form_elem?.field)">
              <div>{{form_elem?.label}} <span *ngIf="form_elem?.validation?.required" style="color: red;">*</span></div>
              <div class="chipContainer">
                <ion-chip *ngFor="let option of form_elem?.options" color="primary">
                  <ion-label>{{option?.name}}</ion-label>
                  <ion-icon name="close" (click)="removeChip(i)"></ion-icon>
                </ion-chip>
              </div>
            </div>
          </div>
        </ion-list>
      </form>
      <ion-list>
        <ion-item class="ion-text-wrap">
          <ion-label class="ion-text-wrap">{{'MESSAGES.PROFILE_UPDATE_AGREE' | translate}} <span style="color: red;">*</span> </ion-label>
          <ion-checkbox [(ngModel)]="tc" required></ion-checkbox>
        </ion-item>
      </ion-list>
      <!-- <button ion-button color="primary" full (click)="submitForm()" [disabled]="!formGroup?.valid || !tc">Save</button> -->
      <ion-button color="primary" expand="block" (click)="submitForm()" [disabled]="!formGroup?.valid || !tc"> {{'LABELS.SAVE' | translate}}
      </ion-button>
    </div>
  </div>

  <div class="fullWidth innerContainer" *ngIf="showPreview">
    <h3 style="text-transform: capitalize;margin: 0;">
      {{userName}}
    </h3>
    <p *ngIf="userState"><b style="color: #999;">( {{'LABELS.STATE' | translate}}: {{userState}} )</b> </p>
    <div style="width: 100%;">
      <ion-list>
        <ng-container *ngFor="let role of profileRoles">
          <ion-list-header lines="inset">
            <ion-label>{{role?.title}}</ion-label>
          </ion-list-header>
          <ion-card>
          <ion-item *ngFor="let entity of role?.entities">
           
            <ion-icon name="home" style="margin-right: 10px;"></ion-icon>
           <div class="longText"> {{entity.name}} </div>
         
          </ion-item>
        </ion-card>
        </ng-container>
      </ion-list>
    </div>
  </div>
</ion-content>
