<ion-header>
  <app-header [title]="'tutorial_video.title' | translate" [showMenu]="false" [showBack]="true" [isGoBack]="back"
    [noBorder]="false">
  </app-header>
</ion-header>

<ion-content>
  <ion-card *ngFor="let video of videos" style="    color: #000;
  font-size: 1em;
  font-weight: 600;
  border-radius: 0px;">
    <ion-grid>
      <ion-row (click)="open(video)">
        <ion-col style="min-width: 85%; margin: auto;
        font-weight: 500;">
          {{video.title}}
        </ion-col>
        <ion-col class="arrow-mark">
          <ion-icon name="ios-arrow-forward"> </ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>