@import'../../theme/colors.scss';

.tiles-container {
  padding: 0px 20px;
  margin: 10px 0;

  .tiles {
    ion-card {
      // border-radius: 15px;
      background: $light-grey-color;
      // margin: 4px;
      margin: 7px 10px;
      padding: 0px 2px 5px 0;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 0px;
      img {
        width: 40%;
        padding: 20px 0px;
      }
    }

    p {
      text-align: center;
      font-family: 'Roboto-Bold';
      // text-transform: uppercase;
      // font-size: 1em;
      font-size: 1.2em;
      padding: 0px;
      margin: 0px 0px 10px 0px;
      font-weight: bold;
      color: $black-color;
      // height: 1.5em;
    }
  }
}

.activeproject-btn {
  margin-top: -10px !important;
  margin: auto;
  display: table;
  text-transform: none;
}

.activeprojects-container {
  font-family: 'Roboto-Bold';
  margin-bottom: 40px;

  h4 {
    padding: 10px 35px;
    margin: 0px 0px 0px 0px;
    color: $black-color;
    font-weight: 600;
    font-size: 18px;
  }

  ion-card {
    padding: 10px 0px;
    background: $light-grey-color;
    border-top-left-radius: 0px;
    .collection-label {
      background: $dark-brown-color;
      color: $white-color;
      padding: 5px 5px 5px 25px;
      font-size: 14px;
      min-width: auto;
      width: auto;
      font-weight: 600;
    }

    .date-col {
      max-width: 15%;
      text-align: right;
      color: var(--ion-color-primary);
      padding: 0px 0px;
      margin-right: 10px;

      h3 {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 600;
      }
    }

    .title-col {
      padding: 0px 0px;
      margin: auto;
      font-size: 17px;
      font-weight: 900;
      margin-top: 5px;
      color: $black-color;
    }
  }
}