<ion-header>
  <app-header title="LABELS.HOME" [showMenu]="showMenu" [showReload]="false" [showSearch]="false">
    <ion-back-button></ion-back-button>
  </app-header>
</ion-header>

<ion-content>
  <app-search-bar (onFocus)="openSearchModal()">
  </app-search-bar>
  <div>
    <ion-grid class="tiles-container">
      <ion-row>
        <ion-col *ngFor="let tile of tiles" class="tiles" size="6">
          <ion-card (click)="navigate(tile.url)">
            <img src="{{tile.icon}}">
            <p>{{tile.title | translate}}</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="activeprojects-container" *ngIf="activeProjects">
    <h4>{{'LABELS.ACTIVE_PROJECTS' | translate}} </h4>
    <div *ngFor="let ap of activeProjects">
      <ion-card (click)="openProject(ap._id)">
        <ion-card-header style="padding: 0px;">
        </ion-card-header>
        <ion-card-content style="padding:0px;">
          <ion-row>
            <ion-col class="date-col ">
              <h3> {{ap.endDate | date : 'MMM dd'}} </h3>
            </ion-col>
            <ion-col class="title-col">
              {{ap.title}}
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-button class="activeproject-btn" expand="block" *ngIf="activeProjects?.length" (click)="viewMore()">
      {{'LABELS.VIEW_MORE' | translate}}
    </ion-button>
  </div>
</ion-content>