.custom-popup
    {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 30%;
    width: 100%;
    height: 100%;
    overflow: auto;
    .pop-container
    {
        margin: auto;
        max-width: 80%;
        box-shadow: 0px 3px 8px 4px #e2e2e2;
        background: #fff;
        padding: 10px;
        .pop-ion{
            text-align: center;
            ion-icon{
                font-size:60px;
            }
        }
        .pop-msg
        {
        margin: 0px 20px;
        }
        .pop-btn{
            margin: 0px 15px;
            ion-button{
                text-transform: capitalize;
                font-family: 'SourceSansPro-Bold' !important;
            }
        }
    }
    }

.profile-card{
    box-shadow: 0px 3px 8px 4px #e2e2e2;
    margin-bottom: 1em;
    margin-top: 2em;
    border-radius: 0.5em;
    .profile-container{
    margin: auto;
    background: #fff;
    padding: 10px;
    border-radius: 0.5em;
    .usrname{
        background: #af4038; 
        color:#fff;  
        padding: 5px 1em;
        border-radius: 1em;
    }
    .pop-ion{
        text-align: center;
        margin-top: -3em;
        ion-icon{
            font-size:5em;
        }
    }
    }
}
.custom-label{
    font-size: 1.2em;
    font-weight: 900;
    text-transform: none;
}
.custom-select{
    font-size: 1.2em;
    text-transform: none;
    margin-bottom: 0.5em;
}
.profile-actions{
    margin: 1em 15px;
}
.custom-select-box{
    // border: 1px solid #000;
    // border-radius: 4px;
    // margin: 5px 0px;
    // padding-left: 5px;
    border: 1px solid #000;
    border-radius: 4px;
    margin: 5px 0px;
    padding: 15px 1em 5px 5px;
    height: 3em;
}
.radio-grp{
    min-width: 100%;
    ion-item {
        margin-left: -25px; 
        display: inline-block;
        ion-label{
            font-size: 14px;
        }
        ion-radio {
            margin-right: 5px;
        }
    }
}