<ion-header>
  <app-header [title]="'profile_update.title' | translate" [showMenu]="false" [showBack]="true" [isGoBack]="back"
    [noBorder]="false"> </app-header>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="showUpdatePop">
    <app-custom-popup [header]="header" [showCloseButton]="showCloseButton" [appUpdate]="appUpdate" [body]="body"
      [button]="button" [isActionable]="isActionable" [showPopup]="true">
    </app-custom-popup>
  </div>
  <div class="profile-card">
    <div class="profile-container">
      <div class="pop-ion">
        <ion-icon ios="ios-contact" md="md-contact" color='primary'></ion-icon>
      </div>
      <div class="text-center" *ngIf="userDetails?.preferred_username">
        <span class="usrname">
          {{userDetails.preferred_username}}
        </span>
        <h4>*********</h4>
      </div>
    </div>
  </div>
  <h5 class="required-field" *ngIf="submitAttempt" style="padding-left:15px;">
    {{'create_project.fileds_mandatory' | translate}}</h5>
  <form [formGroup]="dynamicForm" *ngIf="showForm && profileFormData">
    <ion-item class="custom-ion-item" *ngFor="let controls of profileFormData">
      <ion-label class="custom-label" position="floating"
        [ngClass]="{'required-field':submitAttempt && controls.validation.required}"
        *ngIf="controls.visible && controls.input != 'multiselect' "> {{controls.label}}
      </ion-label>
      <!-- <input [type]="controls.input" [formControlName]="controls.label" /> -->
      <ion-input *ngIf="controls.input == 'text' && controls.visible" [type]="controls.input" name="{{controls.label}}"
        placeholder={{controls.placeholder}} readonly={{!controls.editable}} value={{controls.value}}
        [(ngModel)]="controls.value" [formControlName]="controls.field">
      </ion-input>

      <ion-input *ngIf="controls.input == 'number' && controls.visible" [type]="controls.input"
        [pattern]="controls.validation.regex" [(ngModel)]="controls.value" [formControlName]="controls.field"
        placeholder={{controls.placeholder}} readonly={{!controls.editable}} value={{controls.value}}
        name="{{controls.label}}">
      </ion-input>
      <ion-select class="custom-select-box" *ngIf="controls.input == 'select' && controls.visible"
        [(ngModel)]="controls.value" name="{{controls.label}}" [formControlName]="controls.field"
        placeholder={{controls.value?.label}} (ionChange)="getSubEntities($event,controls)">
        <ion-select-option *ngFor="let state of controls.options" value="{{state.value}}"
          selected="state.value === controls.value.value">
          {{state.label}}</ion-select-option>
      </ion-select>
      <ng-container *ngIf="controls.input != 'multiselect'">
        <span class="required-field"
          *ngIf="controls.validation.regex && dynamicForm.controls[controls.field].touched && dynamicForm.controls[controls.field].errors.required">
          {{controls.label}} is required.
        </span>
        <span *ngIf="dynamicForm.controls[controls.field].errors[controls.validation.regex]" class="required-field">
          {{controls.label}} not valid, please enter valid {{controls.label}} .
        </span>
      </ng-container>
      <!-- <input type="submit" [disabled]="!dynamicForm.valid"/> -->
      <ion-grid *ngIf="controls.input == 'multiselect'">
        <span style="font-size: 16px;
        font-weight: 600; text-transform: capitalize;">{{controls.label}} </span>
        <ion-row *ngIf="controls.input == 'multiselect' && controls.visible" class="radio-grp">
          <ion-radio-group value="list">
            <ion-col size="6">
              <ion-item>
                <ion-label>From predefined list</ion-label>
                <ion-radio slot="start" value="list" (ionSelect)="radioChecked(controls,'list')"
                  [disabled]="!controls.options"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label>Others</ion-label>
                <ion-radio slot="start" value="others" (ionSelect)="radioChecked(controls,'others')"
                  [disabled]="!controls.options"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-radio-group>
        </ion-row>
        <div *ngIf="controls.value && controls.selectedType == 'list'">
          <ion-chip *ngFor="let chip of controls.value">
            <span *ngIf="chip.label"> {{chip?.label}} </span>
            <ion-icon name="close-circle" (click)="removeEntity(chip,controls)"></ion-icon>
          </ion-chip>
          <ion-chip (click)="selectEntity(controls)">
            <span color="primary">Add</span>
            <ion-icon name="add-circle" color="primary"></ion-icon>
          </ion-chip>
        </div>
        <ion-item *ngIf="controls.selectedType == 'others'">
          <ion-input type="text" placeholder="Enter here..." [(ngModel)]="controls.others"
            [ngModelOptions]="{standalone: true}">
          </ion-input>
          <ion-icon name="close" slot="end" (click)="reset(controls)"></ion-icon>
          <ion-icon name="checkmark" slot="end" (click)="submitOthers(controls)"></ion-icon>
        </ion-item>
        <ion-item *ngIf="controls.selectedType == 'list' && !controls.value" (click)="selectEntity(controls)">
          <ion-input type="text" placeholder="Enter here..." readonly>
          </ion-input>
        </ion-item>
      </ion-grid>
    </ion-item>
    <div class="profile-actions">
      <!-- [disabled]="!dynamicForm.valid" -->
      <ion-button expand="block" (click)="saveInfo()">
        {{'button.save_info' | translate}}
      </ion-button>
    </div>
    <div class="profile-actions">
      <ion-button expand="block" (click)="cancel()" type="submit">
        {{'button.cancel' | translate}}
      </ion-button>
    </div>
  </form>
</ion-content>