page-onboarding-entity-listing-modal {
    .noData {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #777;
        font-weight: 600;
    }
}
