@import'../../theme/colors.scss';
.project-form{
    .label-hint{
        color:$dark-grey-color;
    }
    .item-native{
    padding-left:0px !important;
    margin-left: -15px !important;
    }
}
.data-list{
    padding: 10px; 
    margin: 10px 0px;
    ion-item{
        --padding-start: 0px;
    }
    .remove-icon{
        margin-top: -20px;
        margin-right: -15px;
    }
}
