<ion-content style="overflow: hidden;">
  <div style="padding: 10px;">
    <span style="padding: 5px;"> {{video.title}} </span>
    <ion-icon ios="ios-close-circle" md="md-close-circle" (click)="close()" class="close-btn">
    </ion-icon>
  </div>
  <iframe width="100%" height="100%" [src]="finalLink" allowfullscreen="allowfullscreen" *ngIf="finalLink"
    mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen"
    frameBorder="0">
  </iframe>
  <ion-content>